// A place to collect all variables for styling.


// Headers
$h1-colour: #0f388e;
$h2-colour: #0f388e;
$h3-colour: #0f388e;
$h4-colour: #0f388e;
$h5-colour: #0f388e;
$h6-colour: #0f388e;

// Links
$a-link-visited: #8d8d8d;
$a-link-notvisited: #0f388e;

// Colours


// Font Weights
$light: 300;
$normal: 400;
$bold: 700;

